body {
    background-color: black;
    color: white;
}

h4 {
    align-items: right;
    font-family: Gill Sans MT;
    color: white;
    margin-left: 1200px;
    cursor: pointer;
}

.forgot {
    text-decoration: none;
    display: inline-block;
}

.text {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;

}

input[type=email] { 
    margin-top: 30px;
    margin-left: 30px;
    width: 80%;
    padding: 10px; 
}

button {
    margin-left: 30px;
    background-color: orangered; 
    width: 50%;
    color: black; 
    padding: 10px; 
    border: none; 
    cursor: pointer;
    font-size: 12px;
    transition: 0.6s ease;
}

button:hover {
    opacity: 0.7; 
    background-color: brown;
    color: white;
}